<!-- social icons -->
<ul class="social-links">
	<li><a href="www.facebook.com/pageforty"><i class="fa fa-facebook"></i></a></li>
	<li><a href="www.instagram.com/pageforty"><i class="fa fa-instagram"></i></a></li>
</ul>