<!-- start tag cloud widget -->
<div class="widget">
	<h4 class="h5 title"><span>{{t "Subscribe"}}</span></h4>
	<div class="content newsletter">
		<p>{{t "For our news update subscribe to our newsletter. You can unsubscribe anytime."}}</p>
		{{subscribe_form
            input_class="email"
            button_class="btn btn-primary"
            placeholder=(t "yourmail@example.com")
        }}
	</div>
</div>
<!-- end tag cloud widget -->