<!-- start widget -->
<div class="widget">
	<h4 class="h5 title"><span>About</span></h4>
	<div class="content">
		Page Forty is primarily a sports blog started by two borthers from Detroit, Michigan
	</div>
</div>
<!-- end widget -->